/* font-family: 'Poppins', sans-serif; */

:root{
    --primary-color: hsl(0, 78%, 62%);
    --secondary-color: hsl(180, 62%, 55%);
    --tertiary-color: hsl(34, 97%, 64%);
    --fouthary-color: hsl(212, 86%, 64%);

    --fifthary-color: hsl(234, 12%, 34%);
    --sixthary-color: hsl(229, 6%, 66%);
    --seveth-color: hsl(0, 0%, 98%);
}

body{
    margin: 0;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}